<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 수정 - ClearPath</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- 폰트 어썸 CSS 추가 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="global/header :: header"></div>

<div class="container mt-5">
    <div class="card">
        <h5 class="card-header">비밀번호 수정</h5>
        <div class="card-body">
            <form th:action="@{/member/my-page/update-password}" th:object="${updateMemberPasswordDto}" method="POST">
                <input type="hidden" name="_method" value="put"/>
                <div class="mb-3 alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                    <div th:each="error : ${#fields.errors()}">
                        <span th:text="${error}">Error.</span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">현재 비밀번호</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="현재 비밀번호를 입력하세요" required>
                </div>
                <div class="mb-3">
                    <label for="newPassword" class="form-label">새로운 비밀번호</label>
                    <input type="password" class="form-control" id="newPassword" th:field="*{newPassword}" placeholder="새로운 비밀번호를 입력하세요" required>
                </div>
                <div class="mb-3">
                    <label for="newPasswordConfirm" class="form-label">새로운 비밀번호 확인</label>
                    <input type="password" class="form-control" id="newPasswordConfirm" th:field="*{newPasswordConfirm}" placeholder="새로운 비밀번호를 다시 입력하세요" required>
                </div>
                <button type="submit" class="btn btn-primary">비밀번호 변경</button>
            </form>
        </div>
    </div>
</div>


<!-- 부트스트랩 및 폰트 어썸 자바스크립트 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function showNicknameEdit() {
        window.location.href = '/member/my-page/update';
    }
    function showPasswordEdit() {
        window.location.href = '/member/my-page/update-password';
    }

    document.getElementById('deleteAccountBtn').addEventListener('click', function() {
        const isConfirmed = confirm('정말로 회원 탈퇴하시겠습니까?');
        if (isConfirmed) {
            document.getElementById('deleteAccountForm').submit();
        }
    });
</script>
</body>
</html>
